<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/add}" th:object="${user}" method="post">
    <p>First name: <input type="text" th:field="*{firstname}" /> </p>
    <span th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" class="text-danger"></span>
    <p>Last name: <input type="text" th:field="*{lastname}" /></p>
    <span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" class="text-danger"></span>
    <p>E-mail: <input type="text" th:field="*{email}" /></p>
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
    <b>Gender: </b><br>
    <input type="radio" th:field="*{gender}" name="gender" value="male" checked> Male<br>
    <input type="radio" th:field="*{gender}" name="gender" value="female"> Female<br>
    <select name="education">
        <option th:field="*{education}" value="none"></option>
        <option th:field="*{education}" value="bachelor">Bachelor's degree </option>
        <option th:field="*{education}" value="master">Master's degree </option>
        <option th:field="*{education}" value="doctoral">Doctoral degree </option>
    </select><br>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>